@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400..900&display=swap');

@import 'tailwindcss';
@plugin "daisyui";

/* Daisy theme */
@plugin "daisyui/theme" {
  name: 'bumblebee';
  default: true;
  --color-primary: #ffbf00; /* golden yellow */
  --color-primary-content: #1a1a1a; /* dark text on primary */

  --color-secondary: #f472b6; /* soft pink */
  --color-secondary-content: #ffffff;

  --color-accent: #38bdf8; /* sky blue */
  --color-accent-content: #ffffff;

  --color-neutral: #1f2937; /* dark gray */
  --color-neutral-content: #ffffff;

  --color-base-100: #ffffff; /* main background */
  --color-base-200: #f3f4f6; /* lighter background */
  --color-base-300: #e5e7eb; /* border/background */
  --color-base-content: #1f2937; /* main text */

  --color-info: #3abff8; /* info color */
  --color-info-content: #ffffff;

  --color-success: #36d399; /* green success */
  --color-success-content: #ffffff;

  --color-warning: #fbbf24; /* yellow warning */
  --color-warning-content: #1f2937;

  --color-error: #f87272; /* red error */
  --color-error-content: #ffffff;
}
/* Tailwind components */
@layer components {
  .container-default {
    @apply w-full max-w-screen-xl mx-auto px-10;
  }
  .container-default2 {
    @apply w-full max-w-screen-xl;
  }
  .section-title {
    @apply text-2xl md:text-3xl lg:text-4xl font-semibold;
    font-family: 'Orbitron', sans-serif;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}
